# Histories and caches
data/
# Pictures
images/
# Macos
.DS_Store
# Credentials
state.json
credentials.json
config.json
# Node modules
node_modules/
package-lock.json
# Add examples
!data/example
!images/example.png
# Menus
menus/*
!menus/example.png
# Tests
**test**